.custom-popup {
	border-radius: 8px;
	overflow: hidden;
	font-family: "Arial", sans-serif;
}

.custom-popup-header {
	background-color: #007bff;
	color: #ffffff;
	padding: 10px 15px;
	font-size: 16px;
}

.custom-popup-body {
	padding: 15px;
	background-color: #f9f9f9;
}

.custom-popup-section {
	margin-bottom: 10px;
}

.custom-popup-title {
	font-weight: bold;
	color: #333333;
	margin-bottom: 5px;
}

.custom-popup-content {
	color: #666666;
	line-height: 1.4;
}

/* Add this for a smooth transition effect */
.leaflet-popup {
	transition:
		transform 0.3s ease-out,
		opacity 0.3s ease-in;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background-color: transparent;
	box-shadow: none;
}
